# Core data and ML libraries
pandas==2.1.1
numpy==1.26.0
scikit-learn==1.3.2
xgboost==1.7.6
statsmodels==0.14.2

# Visualization
matplotlib==3.8.1
seaborn==0.12.3
pylab==0.1.0

# Optional for Jupyter notebooks
jupyterlab==4.3.2
notebook==7.3.4
